<hr />
<button type="button" class="btn btn-default" (click)="modal3.open()">Add a Book</button>

<modal #modal3>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Add a recent book</h4>
    </modal-header>
    <modal-body>
        <table>
            <tr>
                <td>
                    Title
                </td>
                <td>
                    <input type="text" [(ngModel)]="entry.title" />
                </td>
            </tr>
            <tr>
                <td>
                    Author
                </td>
                <td>
                    <input type="text" [(ngModel)]="entry.author" />
                </td>
            </tr>
            <tr>
                <td>
                    Comment
                </td>
                <td>
                    <input type="text" [(ngModel)]="entry.comment" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" (click)="handleCreateClick()" value="Create Book" />
                </td>
            </tr>
        </table>
    </modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>
